<app-header-container></app-header-container>

<div fxShow fxHide.gt-sm="true" style="height:60px;"></div>

<div fxHide fxShow.gt-sm="true" style="height: 98px;"></div>

<div class="forgot-password-section" [ngStyle.lt-md]="{ 'padding-top': '0px' }">
	<mat-card
		class="forgot-password-dialog-wrapper"
		[ngStyle.lt-md]="{
			width: '100%',
			padding: '20px'
		}"
		[ngStyle.md]="{
			'box-shadow': 'rgba(0, 0, 0, 0.1) 0px 2px 15px !important'
		}"
		fxLayout="row"
		fxLayoutAlign="center start"
	>
		<div class="image-container" fxHide.lt-md="true">
			<img appImageSrc src="/dodesktop/images/Login-Image.jpg" alt="" />
		</div>
		<div
			class="forgot-password-form-container"
			fxLayout="column"
			fxLayoutAlign="center center"
			[ngStyle.lt-sm]="{ padding: '15px 0px' }"
		>
			<div
				class="forgot-password-via-text-container"
				fxLayout="row"
				fxLayoutAlign="space-between center"
			>
				<div class="border"></div>
				<div class="reset-in-text-container">
					<span>FORGOT PASSWORD</span>
				</div>
				<div class="border"></div>
			</div>
			<div
				class="options-wrapper"
				fxLayout="row"
				fxLayoutAlign="space-between center"
			></div>
			<div class="forgot-password-form-container">
				<section>
					<form name="forgotPasswordForm" #forgotPasswordForm="ngForm">
						<mat-form-field
							class="password-input-form-control"
							appearance="outline"
							color="accent"
						>
							<mat-label class="form-label">New Password*</mat-label>
							<input
								matInput
								[(ngModel)]="dailyObjects['password']"
								type="password"
								name="password"
								#dailyObjects.password="ngModel"
								required
							/>
						</mat-form-field>
						<div class="error-message" [hidden]="showSpinner"></div>
						<mat-form-field
							class="password-input-form-control"
							appearance="outline"
							color="accent"
						>
							<mat-label class="form-label">Confirm New Password*</mat-label>
							<input
								matInput
								[(ngModel)]="confirmPassword['confirmPassword']"
								type="password"
								name="confirmPassword"
								#confirmPassword.confirmPassword="ngModel"
								required
							/>
						</mat-form-field>
						<div class="error-message" [hidden]="showSpinner"></div>
						<div class="register-btn-container">
							<button
								mat-raised-button
								color="accent"
								class="register-btn"
								(click)="resetPassword()"
								[disabled]="!forgotPasswordForm.valid"
							>
								RESET
							</button>
						</div>
					</form>
				</section>
			</div>
			<div
				class="error-message"
				[hidden]="showSpinner"
				#defaultErrorField
			></div>
			<ng-template #loader>
				<div fxLayout="column" fxLayoutAlign="center center" class="spinner">
					<mat-progress-spinner
						color="accent"
						mode="indeterminate"
						diameter="30"
					>
					</mat-progress-spinner>
				</div>
			</ng-template>

			<div class="existing-user-link-container">
				<span class="text">Already have an account ?</span>
				<a class="login-btn" (click)="goToLogin()">
					Login
				</a>
			</div>
		</div>
	</mat-card>
</div>

<app-footer-container
	[showSubscribeUser]="false"
	[showHelpDesk]="true"
	[showAboutDO]="true"
	[showDesignerInvite]="true"
	[showCompanyLinks]="true"
	[showSocial]="true"
></app-footer-container>
