@import "../../../styles/placeholders";
@import "../../../styles/animations";

.error-message {
	@extend %font-400;
	text-align: center;
	font-size: 14px;
	color: red;
	margin: 10px 0px;
}

.forgot-password-section {
	padding-top: 30px;
	padding-bottom: 40px;
	.forgot-password-dialog-wrapper {
		padding: 0px;
		box-shadow: 0px 0px 0px 0px;
		margin: 0px auto;
		width: 860px;
		height: 570px;
		.image-container {
			width: 90%;
		}

		.forgot-password-form-container {
			width: 100%;
			padding: 30px;
			.forgot-password-via-text-container {
				width: 100%;
				text-align: center;
				margin-bottom: 30px;
				.border {
					width: 100%;
					border-bottom: 1px solid #000;
				}
				.reset-in-text-container {
					@extend %font-700;
					font-size: 18px;
					width: 80%;
				}
			}
			.options-wrapper {
				width: 100%;
				margin: 15px 0px;
			}

			.password-input-form-control {
				width: 100%;
				margin-bottom: 15px;
				input {
					@extend %font-400;
				}
				.invalid-feedback {
					@extend %font-400;
				}
			}
			.login-btn {
				@extend %font-700;
				width: 100%;
				height: 48px;
				background: #ff931e;
			}

			.register-btn-container {
				margin: 20px 0px;
				.register-btn {
					@extend %font-600;
					font-size: 14px;
					width: 100%;
					height: 48px;
				}
			}
		}
		.existing-user-link-container {
			width: 100%;
			text-align: center;
			.text {
				@extend %font-400;
			}
			.login-btn {
				@extend %font-600;
				font-size: 14px;
				width: 100%;
				height: 48px;
				color: #ff931e;
				background: transparent;
				text-transform: uppercase;
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.upgraded-text-container {
			@extend %font-400;
			font-size: 11px;
			margin-top: 10px;
		}
	}
}

.spinner {
	margin-bottom: 30px;
}
