@import "../../../styles/placeholders";
@import "../../../styles/animations";

.choose-more-devicelist-desktop {
	max-width: 1014px;
	margin: 0 auto;
	padding-bottom: 60px;
	animation: fadein 1s;
	.breadcrumbs-container {
		padding-top: 36px;
	}
	h1,
	h2 {
		text-align: center;
		margin: 10px 0 20px;
		padding: 0;
		line-height: normal;
		letter-spacing: 0.3px;
		@extend %font-700;
		color: #787878;
		margin-top: 55px;
	}
	.brand-list {
		ul {
			list-style: none;
			margin: 30px auto 0;
			padding: 0;
			text-align: center;
		}
		li {
			width: 160px;
			text-align: center;
			padding: 40px 0 0px;
			display: inline-block;
			margin: 0 22px;
			cursor: pointer;
		}
		a {
			color: gray;
			text-decoration: none;
			text-transform: uppercase;
			@extend %font-200;
			font-size: 13px;
		}
		button {
			@extend %font-600;
			padding-top: 8px;
			padding-bottom: 8px;
			width: 160px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	.product-listing-seo-content {
		.bottom-text-listing {
			background-color: #f3f3f3;
			text-align: center;
			max-width: 1014px;
			margin: 0 auto;
			padding: 10px 20px;
			margin-top: 25px;
			margin-bottom: 20px;
			p {
				margin: 0px;
				@extend %font-200;
				color: #666;
				font-size: 13px;
				line-height: 22px;
				a {
					color: #337ab7;
					cursor: pointer;
				}
			}
			h3 {
				@extend %font-400;
				color: #333;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 0px;
			}
		}
	}
}

.choose-more-devicelist-mobile {
	h1,
	h2 {
		text-align: center;
		margin: 10px 0 20px;
		padding: 0;
		line-height: normal;
		letter-spacing: 0.3px;
		@extend %font-700;
		color: #787878;
	}
	.brand-list {
		ul {
			list-style: none;
			margin: 30px auto 0;
			padding: 0;
			text-align: center;
		}
		li {
			width: 160px;
			text-align: center;
			display: inline-block;
			margin: 3% 2%;
		}
		a {
			color: grey;
			text-decoration: none;
			text-transform: uppercase;
			@extend %font-200;
			font-size: 13px;
		}
		button {
			@extend %font-600;
			padding-top: 8px;
			padding-bottom: 8px;
			width: 160px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}
