<!-- <section class="cart-mob-accessory-mobile" fxShow.lt-md fxHide.gt-sm>
	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<div class="accessory-header-section">Add Accessories</div>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list class="list-mat">
			<mat-list-item
				class="accessory-section"
				*ngFor="let accessory of accessories"
			>
				<div class="mob-accessory">
					<div class="image-container">
						<img
							src="https://cdn.dailyobjects.com/{{
								accessory.thumbnail
							}}"
						/>
					</div>
					<div class="mob-accessory-product">
						<div class="product-name">
							<p>Designer {{ accessory.name }} ></p>
						</div>
						<div class="price-section">
							<span class="selling-price">{{ accessory.sellingPrice }}</span
							><span class="mrp-price">{{ accessory.mrp }}</span>
						</div>
						<div class="btn-section">
							<button mat-button>SELECT AND ADD ></button>
						</div>
						<div class="offer-section">
							<p>{{ accessory.offer }}</p>
						</div>
					</div>
				</div>
			</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
</section> -->
<!-- ======================For Desktop Section================================-->
<!-- <section class="cart-mob-accessory-desktop" fxShow.gt-sm fxHide.lt-md>
	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header class="accessories-header">
			<mat-panel-title>
				<div class="accessory-header-section">Add Accessories</div>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list class="list-mat">
			<mat-list-item
				class="accessory-section"
				*ngFor="let accessory of accessories"
			>
				<div class="mob-accessory">
					<div class="image-container">
						<img
							src="https://cdn.dailyobjects.com/{{
								accessory.thumbnail
							}}"
						/>
					</div>
					<div class="mob-accessory-product">
						<div class="product-name">
							<p>Designer {{ accessory.name }} ></p>
						</div>
						<div class="price-section">
							<span class="selling-price">{{ accessory.sellingPrice }}</span
							><span class="mrp-price">{{ accessory.mrp }}</span>
						</div>
					</div>
					<div class="mob-accessory-product">
						<div class="btn-section">
							<button mat-button>SELECT AND ADD ></button>
						</div>
						<div class="offer-section">
							<p>{{ accessory.offer }}</p>
						</div>
					</div>
				</div>
			</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
</section> -->
